*{
  margin: 0;
}
/* HEADER */
div{
  background-image: url(img/pattern.png);
  background-color: rgb(90, 170, 250);
  height: 160px;
  
}

.logo{
  width: 220px;
  padding-top: 85px;
 
}

h1{
  font-size: 75px;
  
}

.data-scrittura{
  color: grey;
  font-size: 20px;
 
}

.boolean-data{
  color: rgb(41, 201, 201);
}
/* MAIN */
.p-piccolo{
  font-size: 12px
}

.p-giallo1{
  background-color: yellow;
}

/** TABELLA */
table{
border-collapse: collapse;
}

.testa-table{
background-color: rgb(90, 170, 250);
color: white;
}

/* THEAD TABELLA */
.th-head1{
 width: 300px;
}

.th-head2{
  text-align: left;
}

/* PRIMO TBODY TABELLA */
.primo-tbody{
  background-color: rgb(187, 241, 241);
}
.testo-centrato{
  text-align: center;
}

.tdbody1{
  width: 750px;
  text-align: left;
}

/* SECONDO TBODY TABELLA */
.secondo-tbody{
text-align: center;
}
.tdbody2{
  text-align: left;
}
/* TERZO TBODY TABELLA */
.terzo-tbody{
background-color: rgb(187, 241, 241);
text-align: center;
}
.tdbody3{
  text-align: left;
}
/* SECONDO PARAGRAFO */
.p-giallo2{
  background-color: yellow;
}

/* FOOTER */
.ultimo-p{
 color: gray;
}

.monitor1{
  margin: 0%;
  background-image: url(img/monitor.jpg);
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  height: 200px;
}

.monitor2{
  margin: 0%;
  background-image: url(img/graph.jpg);
  background-repeat: no-repeat;
  color: white;
  font-size: 30px;
  height: 200px;

  
}