*{
  margin: 0;
}
/* HEADER */
div{
  background-image: url(img/pattern.png);
  background-color: rgb(90, 170, 250);
  height: 160px;
  
}

.logo{
  width: 220px;
  padding-top: 85px;
 
}

h1{
  font-size: 75px;
  
}

.data-scrittura{
  color: grey;
  font-size: 20px;
 
}

.boolean-data{
  color: rgb(41, 201, 201);
}
/* MAIN */
.p-giallo{
  background-color: yellow;
}
/** TABELLA */
.thead{
background-color: rgb(90, 170, 250);

}

.trhead{
  color: white;
}
